/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* COMMON */
html {
    font-family: "Whitney", sans-serif;
    font-size: 62.5%;
}

/* img {
    width: 100%; */
}

ul {
    list-style: none;
}

.col {
    float: left;
}

/* BUTTONS */
.button {
    display: inline-block;
    padding: 1em 1.8em;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0 1em;
}

.white-btn {
    background-color: white;
    color: black;
}

.dark-btn {
    background-color: #23272a;
    color: white;
}

.purple-btn {
    background-color: #8ea1e1;
    color: white;
}

.bg-grey {
    background-color: #f6f6f6;
}

/* HEADER */
header {
    background-color: #3161e0;
    line-height: 60px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header-logo {
    width: 20%;
}

.header-logo img {
    width: auto;
    height: 35px;
    vertical-align: middle;
}

.header-nav {
    width: 60%;
    text-align: center;
}

.header-nav li {
    display: inline-block;
    padding: 0 1em;
}

.header-nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.header-button {
    width: 20%;
    text-align: right;
}

.header-button a {
    background-color: white;
    padding: .8em 1.6em;
    border-radius: 50px;
    color: black;
    text-decoration: none;
}

/* JUMBOTRON */
.jumbotron {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 9em;

}

.jumbotron-content {
    margin: 0 auto;
    width: 40%;
    text-align: center;
}

.jumbo-title {
    color: white;
    font-size: 3em;
    margin-bottom: 1em;
}

.jumbo-p {
    color: white;
    font-size: 1.6em;
    line-height: 2em;
    margin-bottom: 1em;
}

/* ADVANTAGES */
.advantages {
    padding: 8em;
}

.advantage-img {
    width: 70%;
}

.advantage-text {
    width: 30%;
}

.advantage-text h1 {
    margin-top: 1em;
    font-size: 4.1em;
    color: #23272a;
}

.advantage-text p {
    width: 75%;
    margin-top: 2em;
    font-size: 1.4em;
    line-height: 2em;
}

.content-bottom {
    text-align: center;
    color: #23272a;
}

.content-bottom h1 {
    font-size: 4.1em;
}

.content-bottom p {
    margin-top: 2em;
    font-size: 1.4em;
    line-height: 2em;
}

.last-title {
    font-size: 3em;
    text-align: center;
    color: #23272a;
}

.button-bottom {
    width: 80%;
    margin: 2em auto;
    text-align: center;

}

/* FOOTER */
footer {
    height: 600px;
    background-color: #23272a;
}

.left-footer-col {
    width: 30%;

    /* test */
    height: 400px;
}

.left-footer-col h2 {
    margin: 1em 0;
    width: 50%;
    font-size: 2.5em;
    color: #8ea1e1;
}

.left-footer-col img {
    width: 20px;
}

.left-footer-col span {
    color: white;
}

.social-logo {
    margin-top: 1em;
    color: white;
    font-size: 1.5em;
}

.social-logo i {
    width: 1.5em;
}